{% if post.reserve %}
    <article class="card notavailable">
{% else %}
    <article class="card">
{% endif %}

        <div class="card-header">
            <h5>{{ post.title }}</h5>
            <p class="card-text">({{ post.time_created}})</p>
        </div>
        <div class="card-body">
            {% if post.image %}
                {% if post.reserve %}
                    <img class="ticket-img" src="https://aspiration-ams.fr/img/cms/PLUS%20Disponible.png" alt="image" />
                {% else %}
                    <img class="ticket-img" src="{{post.image.url}}" alt="image">
                {% endif %}
            {% endif %}
            {% if post.lien_cadeau %}
                <a href="{{post.lien_cadeau}}" style="margin-top: 10px;color: black; font-weight: bold; font-size: 15px;"> Lien où trouver le cadeau :) </a>
            {% endif %}
        </div>



    {% if tag == "posts" %}
        <div class="card-footer">
            <a href="{% url 'update_ticket' post.pk %}" class="btn btn-primary">Modifier</a>
            <a href="{% url 'delete_ticket' post.pk %}" class="btn btn-primary">Supprimer</a>
        </div>
    {% endif %}
</article>
