{% if post.reserve %}
    <article class="card notavailable">
{% else %}
    <article class="card">
{% endif %}
        {% if post.reserve %}
            <div class="card-header imagenotavailable">
        {% else %}
            <div class="card-header">
        {% endif %}
            <h5>{{ post.title }}</h5>
            <p class="card-text">({{ post.time_created}})</p>

        </div>
        <div class="card-body">
            {% if post.image %}
                <img class="ticket-img" src="{{post.image.url}}" alt="image">
            {% endif %}
            {% if post.lien_cadeau %}
                <a href="{{post.lien_cadeau}}" style="margin-top: 10px;color: black; font-weight: bold; font-size: 18px;"> Lien où trouver le cadeau :) </a>
            {% endif %}
        </div>



    {% if tag == "posts" %}
        <div class="card-footer">
            <a href="{% url 'update_ticket' post.pk %}" class="btn btn-primary">Modifier</a>
            <a href="{% url 'delete_ticket' post.pk %}" class="btn btn-primary">Supprimer</a>
        </div>
    {% endif %}
</article>
