{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block content %}
    <section class="review-wrapper">
        <h3>Modifier le cadeau</h3>
        <form method="post"  enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="review-body">
                {{ t_form|crispy}}
                <div class="buttons-cancel-send">
                    <a href="{% url 'posts' %}" class="btn btn-primary">Annuler</a>
                    <button class="btn btn-primary" type="submit">Envoyer</button>
                </div>
            </div>
        </form>
    </section>
{% endblock content %}