/***********************/
/* Style for base.html */
/***********************/

html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://teliobirthday.fra1.cdn.digitaloceanspaces.com/photos_website/fond_telio2.jpg");
    background-size: cover;
    background-repeat: repeat; /* Répéter seulement horizontalement */
    background-position: center center;
}

header {
    display: flex;
    justify-content:space-around;
    /*position:sticky;
    z-index: 3000;*/
    align-items: center;
    height: 12rem;
    background-image: url("https://teliobirthday.fra1.cdn.digitaloceanspaces.com/photos_website/banniere_telio5.jpg");
    background-size: contain; /* Ajuster la taille de l'arrière-plan pour contenir l'élément */
    background-repeat: repeat-x; /* Répéter seulement horizontalement */
    background-position: center center;
    width: 100%;
    /*top: 0;*/
}

.title-telio {
    height: 100%;
    display: flex;
    align-items: center;
}
.title-telio-img {
    height: 100%;
    object-fit: cover;
}

.main-title-font-size {
    font-family: 'Shrikhand', cursive;
    font-size: 3rem;
    color: white;
    /*padding: 0 10rem 0 10rem;*/
    text-shadow: 2px 2px 0px black;
    margin:0;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    padding: 0 1.5rem 0 1.5rem;
    color: white;
    text-decoration: none;
    background-color: black;
    border-radius: 0.25rem;
    border: 1px solid white;
}

.nav-links a:hover {
    color: red;
}



main {
    width: 90%;
    margin: 1.5rem 0 1.5rem 0;
}
.title-post{
    color:white;
}
/************************/
/* Style for login.html */
/************************/

.connexion-wrapper {
    position: relative;
    display:flex;
    flex-direction: column;
    /*justify-content: space-around;*/
    align-items: center;
}

.connexion-admin {
    border: 1px solid green; /* Ajouter une bordure pour quadriller */
    padding: 10px; /* Ajouter un espace intérieur pour l'esthétique */
    margin-bottom: 20px;
    background-color: rgb(1, 27, 60); /* Changer la couleur de fond en gris foncé */
    color: white; /* Changer la couleur du texte en blanc */

}

.connexion-register {
    border: 1px solid orange; /* Ajouter une bordure pour quadriller */
    padding: 10px; /* Ajouter un espace intérieur pour l'esthétique */
    background-color: rgb(0, 20, 50); /* Changer la couleur de fond en gris foncé */
    color: white; /* Changer la couleur du texte en blanc */
}
/***************************/
/* Style for register.html */
/***************************/

.register-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/***********************/
/* Style for flux.html */
/***********************/

.flux {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-flux {
    display:flex;
    /*width: 40rem;*/
    justify-content: space-around;
}

/*************************************************/
/* Style for post_ticket.html & post_review.html */
/*************************************************/

.card {
    margin-top: 1rem;
    color: white;
    border:3px solid black;
    border-radius: 20px;
    background: linear-gradient(to bottom, blue, white);
    word-break: break-word;
    width: 40rem;
}

.card-title {
    display: flex;
    justify-content: center;
    background-color: black;
}
.card-notavailable {
    background-image: url("https://aspiration-ams.fr/img/cms/PLUS%20Disponible.png");
    -webkit-filter: grayscale(100%)
}

.card-header {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-footer {
    display: flex;
    justify-content: space-around;
}

.ticket-img {
    width: 70%;
    object-fit: cover;
    border-radius: 20px;
}

/*
Style for:
create_ticket.html
create_review_solo.html
update_review.html
update_ticket.html
posts.html
*/
h3 {
    color:white;
}
.review-wrapper {
    display: flex;
    flex-direction: column;
    align-items:center;
}

.review-body {
    background-color: white;
    padding: 1rem;
    border:1px solid black;
}

.buttons-cancel-send {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

/*******************************/
/* Style for subscription.html */
/*******************************/

.subscription-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscription-form {
    display: flex;
    justify-content: center;
}

#subscription-send {
    margin-left: 0.3rem;
}

.subscription-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 0 1.5rem 0;
    width: 100%;
}

.subscription-listing-bar {
    display: flex;
    justify-content: space-between;
    width: 70%;
    background-color: white;
    border:1px solid #d3d3d3;
    border-radius: 5px;
}

/*********************/
/* Style for message */
/*********************/

.message {
    color: red;
}

/* ----------------------- */
/* Responsive part: tablet */
/* ----------------------- */

@media screen and (max-width: 991px) {
    html {
        font-size: 15px;
    }
}
/* ----------------------- */
/* Responsive part: Mobile */
/* ----------------------- */

@media screen and (max-width: 767px) {
    html {
        font-size: 14px;
    }

    .nav-links a {
        padding: 0 0.5rem 0 0.5rem;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-size: cover; /*Ajuster la taille de l'arrière-plan pour contenir l'élément */
    }

/*header {
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 12rem;
    background-image: url("https://teliobirthday.fra1.cdn.digitaloceanspaces.com/photos_website/banniere_telio5.jpg");

    background-repeat: repeat-x;
    background-position: center center;
    width: 100%;
}*/
    .review-button {
        width: 100%;
    }

    .card {
        width: 100%;
    }

    body {
        background-size: contain; /* Utilisez une autre taille pour les écrans mobiles si nécessaire */
    }

    .ticket-img {
        width: 100%;
        object-fit: cover;
    }
/*    body {
        background-size: 400px;
    }*/
}
